.container {
  display: flex; 
  gap: 200px; 
  color: red;
  }
h1 {
  text-align:center;
  color: red;
}

h3 {
  text-align: center;
  color: red;
}

p {
  text-align:center;
  color: red;
}

body {
   font-family: "Elsie", serif;
  font-weight: 400;
  font-style: normal;
}

.box-image {
display: block;
width: 130px;
height: auto;
border-radius: 4px;
} 

.box-image2 {
  display: block;
  width: 130px;
  height: auto;
  border-radius: 4px; 
}

.box-image3 {
  display: block;
  width: 130px;
  height: auto;
  border-radius: 4px;
}

.pictures {
  flex:1;
}

.site-footer {
  text-align: center;
  margin-top: auto;
}

.welcome section {
  double: 3px red;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 20px;
}

.pictures {
  double: 3px red;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 20px;
}
