.container {
  display: flex; 
  gap: 20px; 
  color: #FF69B4;
  }
h1 {
  text-align:center;
  color: pink;
}

h3 {
  text-align: center;
  color: pink;
}

p {
  text-align:center;
  color: pink;
}

body {
   font-family: "Elsie", serif;
  font-weight: 400;
  font-style: normal;
}

.box-image {
display: heart;
width: 100px;
height: auto;
border-radius: 4px;
} 

.box-image2 {
  display: heart;
  width: 100px;
  height: autopx;
  border-radius: 4px; 
}


