.container {
  display: flex; 
  gap: 20px; 
  color: #FF69B4;
  }
h1 {
  text-align:center;
  color: pink;
}

h3 {
  text-align: center;
  color: pink;
}

p {
  text-align:center;
  color: pink;
}

body {
   font-family: "Elsie", serif;
  font-weight: 400;
  font-style: normal;
}

  .box-image {
  display: block;
  width: 250px;
  height: autopx;
  border-radius: 4px;
}

.box-image2 {
  display:block;
  width: 120px;
  height: 58px;
  border-radius: 4px;
}

